.wrapper {
    margin: 0 auto;
    width: 40%;
}
.disciplines_items {
    display: flex;
    justify-content: space-around;
    border: 1px solid #ccc;
    padding: 20px 0;
}

.disciplines_header {
    font-weight: 900;
}

.discipline__item {
    padding-top: 20px;
}

.input__file {
    margin-bottom: 20px;
}

.task__item {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}